@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DOMAINE';
  src: url('../fonts/Domine/FontsFree-Net-DomaineDisplayBold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@layer base {
  html {
    @apply font-inter;
  }

  ul > li,
  a,
  button {
    @apply cursor-pointer;
  }
  span {
    background: -webkit-linear-gradient(right, #be39f6, #d79dff, #772ff5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .hero_txt::before {
    content: '';
    position: absolute;
    right: -15.19%;
    top: -50.93%;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(290.79deg, #be39f6 18.91%, #772ff5 76.9%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 20px 20px rgba(85, 85, 85, 0.1),
      inset 0px -28px 60px rgba(0, 0, 0, 0.45);
  }

  .grad_blue {
    background: linear-gradient(
      260.39deg,
      #409cf8 2.78%,
      #55c4f9 35.1%,
      #6378f7 79.51%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @apply text-3xl sm:text-4xl md:text-6xl font-domaine;
    font-style: normal;
    font-weight: 600;
    /* font-size: 72px; */
    line-height: 94px;
    text-align: center;
    letter-spacing: -3px;
  }

  .feature_card {
    @apply flex flex-col gap-4 w-48 justify-start  items-center;
  }

  .feature_card > h3 {
    @apply text-lg h-12;
  }

  .grad_border {
    overflow: visible;
    box-sizing: border-box;
    width: 150px;
    height: 167px;
    background: linear-gradient(to right, #be39f6, #d79dff, #772ff5);
    background-clip: padding-box; /* !importanté */
    border: solid 10px transparent; /* !importanté */
    position: relative;
  }

  .large {
    overflow: visible;
    box-sizing: border-box;
    width: 188px;
    height: 178px;
    background: linear-gradient(to right, #be39f6, #d79dff, #772ff5);
    background-clip: padding-box; /* !importanté */
    border: solid 10px transparent; /* !importanté */
    position: relative;
  }

  .grad_border:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 120px;
    z-index: 10;
  }

  .large:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 143px;
    height: 130px;
    z-index: 10;
  }

  .img_container {
    display: block;
    position: absolute;
    top: -10px;
    left: 9.5px;

    z-index: 1000;
  }

  .large > .img_container {
    top: -45px;
    left: 11px;
  }
  @media screen and (max-width: 640px) {
    .hero_txt::before {
      height: 80px;
      width: 80px;
      top: -40%;
    }
  }
}

/* #BE39F6 */
/* #D79DFF */
/* #772FF5 */
